@import './base.css';

a {
  color: #0d5adc;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(198, 52%, 35%, 0.7);
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 12pt;
    /*
    display: flex;
    place-items: center;
*/
  }

  h1 {
    /* Смартфоны */
    color: var(--color-heading);
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    /* identical to box height, or 125%
color: #828286; */
    letter-spacing: 0.02em;
    position: absolute;
    width: 280px;
    height: 60px;
    left: 165px;
    top: 160px;
    /* identical to box height, or 125%
color: #828286; */
    display: inline-block;
    width: 75%;
  }

  #app {
    /*
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1280px;
    padding: 0 2rem;
    margin: 0 auto;
    padding: 2rem;
   */
    font-weight: normal;
    box-sizing: border-box;
    font-size: 18px;
  }
}
@media print {
  * {
    color: black;
  }

  header {
    visibility: hidden;
  }

  h1 {
    color: black;
    position: absolute;
    left: 25mm;
    top: 16mm;
  }

  #colviews {
    visibility: hidden;
  }

  table {
    width: 95%;
    position: absolute;
    left: -35mm;
    top: -20mm;
  }

  tr {
    height: 1rex;
    border-top: 0.1mm solid black;
  }

  td {
    text-align: center;
  }
}
